.padded-fit-wrapper {
  padding: 1rem;
  width: fit-content;
}

.centering-wrapper {
  display: grid;
  place-items: center;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  place-items: center;
}
